<div class="modal-header">
    <h3 class="modal-title" translate="CONFIGURE_JOB.MODAL.TITLE"></h3>
</div>

<div class="modal-body">
    <div class="configure-job-box" take-up-remaining-height>

        <div class="row">
            <div ng-if="configureJobController.compatibleJobTypes.length > 1" class="col-md-4 form-group">
                <label ng-if="configureJobController.compatibleJobTypes.length > 1" class="control-label" for="jobtype" translate="CONFIGURE_JOB.MODAL.SELECT_LABEL.JOB_TYPE"></label>
                <select ng-model="configureJobController.selectedJobType" ng-options="jobType as jobType.name for jobType in configureJobController.compatibleJobTypes  | orderBy: 'name'" ng-change="configureJobController.jobTypeSelected()" class="form-control" id="jobtype">
                </select >
            </div>
        </div>

        <div ng-if="configureJobController.compatibleJobTypes.length === 1"><h4 translate="CONFIGURE_JOB.MODAL.SINGLE_JOB_TYPE.TITLE" translate-values="{ jobName: configureJobController.compatibleJobTypes[0].name }"></h4></div>
        <div ng-if="configureJobController.loadingJobTypes" translate="CONFIGURE_JOB.MODAL.JOB_TYPES_LOADING_MESSAGE"></div>
        <div ng-if="configureJobController.compatibleJobTypes.length === 0 && !configureJobController.loadingJobTypes" translate="CONFIGURE_JOB.MODAL.NO_JOB_TYPES_MESSAGE"></div>

        <form novalidate name="configureJobController.form">
            <div class="form-group" ng-repeat="option in configureJobController.selectedJobType.jobOptions" ng-class="{'has-error' : configureJobController.form.$submitted && configureJobController.form['{{option.name}}'].$invalid }">

                <div ng-if="option.type !== 'booleanGroup'">

                    <div ng-if="option.type === 'boolean'">
                        <label class="control-label" for="{{option.name}}" uib-tooltip="{{option.tip}}" tooltip-placement="top-left">{{option.name}}</label>
                        <input class="job-options-checkbox" type="checkbox" name="{{option.name}}" ng-model="option.value">
                    </div>

                    <label class="control-label" ng-if="option.type !== 'boolean'" for="{{option.name}}" uib-tooltip="{{option.tip}}" tooltip-placement="top-left">{{option.name}}</label>

                    <select class="form-control" ng-if="option.values.length > 0" ng-options="value as value for value in option.values | orderBy: value" ng-model="option.value"></select>
                    <input type="string" name="{{option.name}}" class="form-control" ng-if="option.type === 'string'" ng-model="option.value"></input>
                    <input type="number" name="{{option.name}}" class="form-control" ng-if="option.type === 'float'" ng-model="option.value" max="{{option.maxValue}}" min="{{option.minValue}}"></input>
                    <input type="number" name="{{option.name}}" class="form-control" ng-if="option.type === 'integer'" ng-model="option.value" max="{{option.maxValue}}" min="{{option.minValue}}" pattern="^[^\.]*$"></input>

                    <div ng-if="configureJobController.form.$submitted">
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.required" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.REQUIRED"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.pattern" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.INTEGER"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.number" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.FLOAT"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.max && !configureJobController.form['{{option.name}}'].$error.pattern" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.MAX" translate-values="{ min: option.minValue, max: option.maxValue}"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.min && !configureJobController.form['{{option.name}}'].$error.pattern" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.MIN" translate-values="{ min: option.minValue, max: option.maxValue}"></p>
                    </div>
                </div>

                <div ng-if="option.type === 'booleanGroup'">
                    <label class="control-label" for="{{option.groupName}}">{{option.groupName}}</label>
                    <span ng-repeat="value in option.values" class="well radio-well"><label class="radio-inline"><input type="radio" name="{{option.groupName}}" ng-model="option.value" value="{{value.programParameter}}">{{value.name}}</label></span>
                </div>

            </div>
        </form>

        <div ng-if="configureJobController.compatibleJobTypes.length > 0 && !(configureJobController.selectedJobType.jobOptions.length > 0)" translate="CONFIGURE_JOB.MODAL.NO_JOB_OPTIONS_MESSAGE"></div>

    </div>
</div>

<div class="modal-footer">
    <div ng-if="configureJobController.compatibleJobTypes.length > 0">
        <button class="btn btn-primary" ng-if="configureJobController.selectedJobType.type === 'interactive' || configureJobController.numInputEntities <= 1" ng-click="configureJobController.checkFormValidity() ? configureJobController.submitJob(false) : null" translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.TEXT"></button>
        <button class="btn btn-primary" ng-if="configureJobController.selectedJobType.type === 'batch' && configureJobController.selectedJobType.multiple === true && configureJobController.numInputEntities > 1" ng-click="configureJobController.checkFormValidity() ? configureJobController.openConfirmJobModal() : null" translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.TEXT"></button>
        <button class="btn btn-primary" ng-if="configureJobController.selectedJobType.type === 'batch' && configureJobController.selectedJobType.multiple !== true && configureJobController.numInputEntities > 1" ng-click="configureJobController.checkFormValidity() ? configureJobController.submitJob(true) : null" translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_MULTIPLE_JOBS.TEXT" uib-tooltip="{{'CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_MULTIPLE_JOBS.TOOLTIP.TEXT' | translate : { numJobs: configureJobController.numInputEntities } }}" tooltip-append-to-body="true" tooltip-placement="top"></button>
        <button class="btn btn-warning" ng-click="configureJobController.close()" translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.TEXT"></button>
    </div>

    <div ng-if="configureJobController.compatibleJobTypes.length === 0">
        <button class="btn btn-warning" ng-click="configureJobController.close()" translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.TEXT"></button>
    </div>
</div>