<div class="modal-content">

    <div class="modal-header">
        <h3>Job Details For Job {{jobDetailsController.jobId}}</h3> 
    </div>

    <div class="modal-body job-details">
        <ul class="nav nav-tabs nav-tabs-head" role="tablist">
            <li class="active"><a data-target="#data-output" role="tab" data-toggle="tab">Input/output Data</a></li>
            <li><a data-target="#job-output" role="tab" data-toggle="tab">Standard Output</a></li>
            <li><a data-target="#error-output" role="tab"  data-toggle="tab">Error Output</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="data-output">
                <p>Input data: </p>
                <p>Output data: </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="job-output"><p>job output for job {{jobOutputController.jobId}}</p></div>
            <div role="tabpanel" class="tab-pane" id="error-output"><p>error output for job {{jobOutputController.jobId}}</p></div>
        </div>
    </div>

    <div class="modal-footer">
        <div><button class="btn btn-danger pull-right" ng-click="jobDetailsController.close()">Close</button></div>
    </div>

</div>
